<div class="mainInformation">
    <img class="mainInformation_img" src="https://cdn.pixabay.com/photo/2021/05/16/17/48/me-6258885_960_720.jpg"
        alt="my photo" width="250">
    <div>
        <h1 class="mainInformation_title"> Hello, I am Marina Permiakova </h1>
        <h2 class="mainInformation_position"> Front-end developer</h2>
        <p class="mainInformation_description"> This site is my portfolio. I am junior developer who looking for
            interesting
            job and a lot of new practice
        </p>
    </div>
</div>
<div class="skills">
    <h3 class="skills_title">I have experience in:</h3>
    <ul class="skills_list">
        {{#each this}}
        <li class="skills_item" id={{id}}><img src={{url}} alt={{name}} width="130"></li>
        {{/each}}
    </ul>
</div>