<div class="mainInformation">
    <div>
        <h1 class="mainInformation_title"> Hello, I am Marina Permiakova </h1>
        <h2 class="mainInformation_position"> Front-end developer </h2>
        <p class="mainInformation_description"> I’m looking for an interesting job as a junior front-end developer in friendly, thriving, and exciting company or interesting projects to develop my skills
        </p>
        <h3>My Soft Skills:
            <ul class="mainInformation_list">
                <li>Scrum</li>
                <li>Agile</li>
                <li>Teamwork</li>
                <li>GTD</li>
            </ul>
        </h3>
    </div>
</div>
<div class="skills">
    <h4 class="skills_title">My Tech Skills: </h4>
    <ul class="skills_list">
        {{#each this}}
        <li class="skills_item" id={{id}}><img src={{url}} alt={{name}} width="130"></li>
        {{/each}}
    </ul>
</div>