.projects-text{
    text-align: center;
    max-width: 700px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}

.projects-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &_item{
        position: relative;
        width: 100%/2;
        margin-right: 30px; 
        margin-bottom: 30px;

        &:nth-child(2n){
            margin-right: 0;
        }

        &:last-child{
            margin-bottom: 0;
            margin-right: 0;
        }
    }
    
}